<h1>Activities</h1>

<input type="checkbox" ng-model="reverse" />
<input type="text" ng-model="search" />
<button class="btn btn-default" ng-click="getActivities()">Search</button>
<button class="btn btn-default" ng-click="search = null; getActivities();">Clear</button>

<table class="table table-bordered" ng-init="getActivities()">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="activity in activities">
			<td>{{ activity.id }}</td>
			<td>{{ activity.name }}</td>
			<td>
				<button class="btn btn-sm btn-danger" ng-click="deleteActivity(activity.id, $index)">Delete</button>
				<a class="btn btn-sm btn-default" href="#/activities/edit/{{ activity.id }}">Edit</a>
			</td>
		</tr>
	</tbody>
</table>

<div class="text-center col-sm-12">
	<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" ng-hide="successMessage || errorMessage"></span>
	<span class="label label-danger">{{ errorMessage }}</span>
</div>

<a href="#/activities/add">Add activity</a>