<h1>Activities</h1>

<table class="table table-bordered" ng-init="getActivities()">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="activity in activities">
			<td>{{ activity.id }}</td>
			<td>{{ activity.activityName }}</td>
			<td></td>
		</tr>
	</tbody>
</table>

<a href="activities/add">Add activity</a>
		