<!DOCTYPE HTML>
<html ng-app="wafepaApp">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>WAFEPA</title>

        <!-- Bootstrap -->
        <link href="resources/css/bootstrap.css" rel="stylesheet">
        <link href="resources/css/bootstrap-theme.css" rel="stylesheet">
        <link href="resources/css/main.css" rel="stylesheet">
                
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="resources/js/jquery-2.1.1.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="resources/js/bootstrap.js"></script>
        
        <script src="resources/js/angular.js"></script>
		<script src="resources/js/angular-route.js"></script>
		<script src="resources/js/angular-translate.js"></script>
		<script src="resources/js/app.js"></script>
		<script src="resources/js/app.controllers.js"></script>
		<script src="resources/js/app.directives.js"></script>
		<script src="resources/js/app.services.js"></script>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#/">Home</a>
                    <a class="navbar-brand" href="#/activities">Activities</a>
                    <a class="navbar-brand" href="#/users">Users</a>
                </div>
                <div class="navbar-header navbar-right" ng-controller="TranslateController">
                	<a class="navbar-brand" href ng-click="changeLang('en')">EN</a>
                	<a class="navbar-brand" href ng-click="changeLang('sr')">SR</a>
                </div>
            </div>
        </div>
        <div class="jumbotron">
            <div class="container text-center">
                <h1>WAFEPA</h1>
                <p>Web Application For Evaluating Physical Activities</p>
            </div>
        </div>
        <div class="container" ng-view>
        </div>
    </body>
</html>